{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h3>Formulaire visiteur - Ticket Louvre</h3>
		<div>
			<p>Date de visite : {{ dateVisit|date('d/m/Y') }} pour {% if (half_day == 1) %} la demi-journée {% else %} la journée{% endif %}<a href="{{ path('home') }}" class="btn btn-info">Choisir une autre date</a> </p> 			
		</div>

		{{ include("AppBundle:Ticket:form.html.twig") }}
	</div>


{% endblock %}
